.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* header-------------------------------------*/
.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.headerLogo{
  font-size: calc(20px + 2vmin);
  color: white;
  float: left;
  margin-left: 30px;
}
/*--------------------------------------------*/

/* footer-------------------------------------*/
.footer {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*---------------------------------------------*/

.app-main{
  min-height: 75vh;
}
.title{
  font-size: calc(30px + 2vmin);
}